@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-bg-class{
    background-image: url(https://assets.website-files.com/636ff594b73c8dfbd3673fe8/645a47624f50fc1349ddb42c_ai-gaming_bddbee7594b8b8470d7fbeba0bb96d13_2000.jpeg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
  }
